{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <title>{% block title %}EventApp{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'EventApp/style.css' %}">

</head>

<body>

  <div class="container">

    <header>

      <h1>University Event Management App</h1>

    </header>



    <nav>

      <a href="{% url 'event_home' %}">Home</a>

      <a href="{% url 'event_list' %}">Events</a>

      <a href="{% url 'attendee_list' %}">Attendees</a>

      <a href="{% url 'registration_list' %}">Registrations</a>

    </nav>



    <main>

      {% block content %}

      {% endblock %}

    </main>





  </div>

</body>

</html>



