{% extends 'EventApp/base.html' %}



{% block title %}Registration List - EventApp{% endblock %}



{% block content %}

<h2>Registration List</h2>



<table>

  <tr>

    <th>Attendee</th>

    <th>Event</th>

    <th>Registration Date</th>

    <th>Ticket Price</th>

  </tr>

  {% for registration  in registrations %}

  <tr>

    <td>{{registration.attendee }}</td>

    <td>{{ registration.event }}</td>

    <td>{{registration.registration_date}}</td>

    <td>{{registration.ticket_price }}</td>

  </tr>

  {% empty %}

  <tr><td colspan="4">No registration .</td></tr>

  {% endfor %}

</table>

{% endblock %}