{% extends "carehome/base.html" %}

{% block content %}
<h2>Assistance Records</h2>
    <table>
        <thead>
            <tr>
                <th>Resident</th>
                <th>Caretaker</th>

                <th>Shift Type</th>
                <th>Date</th>
                <th>Price (R)</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.resident.resident_name }} {{record.resident.resident_surname }}</td>
                <td>{{ record.caretaker.caretaker_name }} {{record.caretaker.caretaker_surname }}</td>
                <td>{{ record.caretaker.get_shift_type_display }}</td>
                <td>{{ record.date }}</td>
                <td>{{ record.price|floatformat:2 }}</td>
                </tr>
            {% empty %}
                <tr>
                <td colspan="5">No assistance records found.</td>
            </tr>
            {% endfor %}
        </tbody>
   </table>
   {% endblock %}